{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "chrome": "75" },
        "modules": false
      }
    ],
    ["@babel/preset-typescript"],
    ["@babel/preset-react"]
  ]
}
